<h1>Alle Spiele</h1>

<p>Folgende Spiele können Sie spielen:</p>

<ul>
	<li><a href="/game/pick_a_face">Pick a Face</a> - ein Name wird angezeigt, wählen Sie eines von 5 Gesichtern</li>
</ul>


<p><a href="/photos/">backend</a></p>
