<h1>Alle Spiele</h1>

<p>Folgende Spiele können Sie spielen:</p>

<ul>
	<li><%= link_to "Pick a Face", :action => "pick_a_face"  %> - ein Name wird angezeigt, wählen Sie eines von 5 Gesichtern</li>
</ul>


<p><%= link_to "backend", :action => "index" , :controller => "photos" %></p>
